body{
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

li{
    flex-wrap: wrap;
}

a{
    color: white;
    text-decoration: none;
}

/* header */

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
    margin: 24px;
}

.headerhero{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerhero>.hero>.right>img{
    height: 400px;
}

.headerlink{
    font-size: 18px;
    color: #e5e7eb;
}


/*hero*/
.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1500px;
    margin: 108px;
}

.maintext{
    font-weight: bold;
    font-size: 48px;
    columns: #f9faf8;
}

.secondary{
    font-size: 18px;
    color: #e5e7eb;
}

.button1{
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px 30px;
    border-radius: 10px;
    margin: 12px 0px;
    border: none;
}

.left{
    display: flex;
    flex-direction: column;
    width: 500px;
}

/*info*/

.infoheader{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin: 56px;
}

.info>ul>li>img{
    height: 250px;
    border-radius: 25px;
    border: #3882f6 solid;
    border-width: 5px;
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info>ul{
    padding: 0px;
    margin-bottom: 150px;
    gap: 48px;
    display: flex;
    justify-content: center;
}

.info>ul>li{
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
}

.info>ul>li>div{
    margin: 10px;
    font-size: 18px;
}



/*quote*/

.quotequote{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e5e7eb;
    width: 1200px;
    margin: 136px;
}

.quotetext{
    font-size: 36px;
    color: #1f2937;
}

.figure{
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}


/*Sign up*/

.signupsignup{
    display: flex;
    justify-content: center;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    width: 1500px;
    height: 200px;
    margin: 108px;
    border-radius: 20px;
}

.button2{
    background-color: #3882f6;
    color: white;
    border-color: white;
}

.callbox{
    display: flex;
    flex-basis: 1000px;
    justify-content: space-between;
}

.call{
    font-size: 36px;
    font-weight: bold;
}

.calltext{
    font-size: 18px;
}

.button2{
    background-color: #3882f6;
    font-size: 18px;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
    margin: 12px 0px;
    border: white solid;
}

/*footer*/
.footer{
    text-align: center;
    background: #1f2937;
    color: white;
}